/* nevigation11 */
#nabbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#Home{
height: 370px;
flex-direction: column;
padding: 3px 28px;
}

#Home::before{
    height: 480px;
}

#Home p{
    font-size: 12px;
}

/* services section */
#services{
    flex-direction: column;

}

#services.box{

        border: 2px solid rgb(90, 42, 42);
        padding: 14px;
        margin: 3px 15px;

}

/* viwer section */
#viwer{
    flex-wrap: wrap;
}

#viwer img{
    width: 16px;
    padding: 2px 6px;
    height: auto;
}

/* cotact us section */
#contact-box form{
    width: 80%;
}

/* footer */
 
/* utility classes */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}